# Python
__pycache__/
*.pyc
.venv/

# Android
.gradle/
build/

# IntelliJ
.idea/

# VSCode
.vscode/

# Kotlin
out/

# macOS
.DS_Store

# Logs
*.log

# React / Vite
frontend/node_modules/
frontend/.vite/
frontend/*.tsbuildinfo
.tmp/
